<%- include("partials/header") %>

<%- include("partials/navbar") %>

<div class="main-container">

    <div class="products-section">

        <h2>

            Featured Products

        </h2>

        <div id="productsContainer">

        </div>

    </div>

    <%- include("partials/cartSidebar") %>

</div>

<%- include("partials/footer") %>