.hero{

    padding:80px;

    text-align:center;

}

.hero h1{

    font-size:45px;

    margin-bottom:20px;

}

.hero p{

    font-size:20px;

    color:#666;

}

#products{

    width:90%;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:30px;

    margin-top:50px;

}