/*
=========================================================
PRODUCT CARD
=========================================================
*/

.product-card{

    background:#ffffff;

    border-radius:12px;

    overflow:hidden;

    box-shadow:0 2px 8px rgba(0,0,0,.08);

    transition:.3s;

}

.product-card:hover{

    transform:translateY(-6px);

    box-shadow:0 8px 18px rgba(0,0,0,.15);

}

.product-image{

    height:220px;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:20px;

    background:#ffffff;

}

.product-image img{

    width:150px;

    height:150px;

    object-fit:contain;

}

.product-info{

    padding:20px;

}

.product-info h3{

    font-size:16px;

    height:45px;

    overflow:hidden;

}

.price{

    margin-top:15px;

    font-size:22px;

    font-weight:bold;

    color:#1e88e5;

}

.rating{

    margin:12px 0;

    color:#f39c12;

}

.add-cart-btn{

    width:100%;

    padding:12px;

    border:none;

    border-radius:8px;

    background:#1e88e5;

    color:white;

    cursor:pointer;

    font-size:16px;

    transition:.3s;

}

.add-cart-btn:hover{

    background:#1565c0;

}