<!-- =========================================================
BREADCRUMB
========================================================= -->

<nav class="breadcrumb">

    <a href="/">Home</a>

    <span>></span>

    <a href="/">

        Products

    </a>

    <span>></span>

    <span>

        <%= product.title %>

    </span>

</nav>