<nav class="navbar">

    <div class="logo">

        ShopEase

    </div>

    <div class="search-box">

        <input
            id="searchInput"
            type="text"
            placeholder="Search Products..."
        >

    </div>

    <div class="nav-links">

        <a href="/">Home</a>

        <a href="#">Categories</a>

        <a href="#">Account</a>

    </div>

    <div class="cart-icon">

        🛒

        <span id="cartCount">

            0

        </span>

    </div>

</nav>