<nav class="navbar">

    <div class="logo">

        ShopEase

    </div>

    <div class="search">

        <input
            type="text"
            placeholder="Search Products..."
        >

    </div>

    <div class="menu">

        <a href="#">Home</a>

        <a href="#">Categories</a>

        <a href="#">Products</a>

        <a href="#">Contact</a>

    </div>

    <div class="cart">

        🛒

        <span id="cartCount">

            0

        </span>

    </div>

</nav>